*{
    margin: 0;
    padding: 0;
}

.mainBox{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    /* border: 4px solid black; */
    box-shadow: 0px 0px 10px black;
    background-color: #1b1b1b;
    width: 640px;
    height: 780px;
    position: relative;
}

.topBox{
    display: flex;
    justify-content:center;
    padding-top: 50px;
    /* border: 3px solid white; */
}

.box{
    border: 3px solid white;
}

.lightning{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(7deg) translateY(0px);
}

.lightning img{
    width: 400px;
    height: 400px;
}

.headline{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 55%;
}

.backgroundImage{
    background-image: url(images/backgroundTest.jpg);
    transform: translate(50px 0);
}   

h1{
    color: #e8e3c3;
    font-family: 'Changa One', cursive;
    font-size: 150px;
    height: 110px;
}

h2{
    color: #e15b48;
    font-family: 'Unica One', cursive;
    font-size: 50px;
    letter-spacing: 5px;
}

h3{
    color: #e15b48;
    font-family: 'Unica One', cursive;
    font-size: 30px;
}

h4{
    text-align: center;
    color: #e8e3c3;
    font-family: 'Unica One', cursive;
    font-size: 20px;
}


p{
    font-family: 'Teko', sans-serif;
    color: #1b1b1b;
    font-size: 2em;
}

span{
    text-decoration: underline;
}

.bottomBox{
    display: flex;
    justify-content: space-evenly;
    /* border: 3px solid white; */
    position: relative;
}

.boxRow1{
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 20px;
    transform: rotate(-5deg);
}

.acdcBox{
    display: flex;
    align-items: center;
    transform: translate(5px, -15px);
}

.boxRow1Bottom div{
    transform: translate(5px, 10px);
}

.boxRow1Bottom{
    display: flex;
    align-items: center;
    transform: translate(0px, -20px);
}

.dateContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #e8e3c3;
    height: 50px;
    width: 100px;
}

.rstoneBox{
    transform: translate(0px, -15px)
}

.boxRow2{
    transform: rotate(-275deg);
    position: absolute;
    top: 30%;
    right: 28%;
}

.row3Top{
    transform: translate(0px, 20px);
}

.floyd{
    display: flex;
    align-items: center;
}

.queen{
    display: flex;
    align-items: center;
}

.boxRow3{
    transform: rotate(-5deg);
    padding: 0px 20px;    
}

.col3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


/* Colors
#e15b48
#e8e3c3
*/